<div class="container">
  <h1>Recent posts</h1>
  <form role="form">
    <div class="form-group">
      <div class="input-group">
        <input ng-model="postBody" class="form-control">
        <button ng-click="addPost()">Add Post</button>
      </div>
    </div>
  </form>
  <ul class="list-group">
    <li *ngFor="let post of posts" class="list-group-item">
      <strong class="username">@{{ post.username }}</strong>
      <span>{{ post.body }}</span>
      <div><sub>{{ post.date.toGMTString() }}</sub></div>
    </li>
  </ul>
</div>
